* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    scroll-behavior: smooth;
    text-align: center;
}

.title-header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

P {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.icon-span {
    background-color: black; /* testeando icon span */
    background-image: url(/assets/icons/img-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.icon-span-2 {
    background-image: url(/assets/icons/img-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}