* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    scroll-behavior: smooth;
    text-align: center;
}
/*ZONA HEADER */
header h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-image: url(/assets/icons/IMG0.jpg);
    background-size: cover;
    background-position: center top;                              /*Este fragmento del codigo, posiciona la imagen en la parte superior*/
    background-repeat: no-repeat;
    height: 850px;
    padding: 20px;
}

.block-header {
    display: center;
    padding: 13pc;                                                  /*Este es el div del bloque central de la imagen*/
    color: white;
    font-size: 23px;
}

.bar-top{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 12px;
    margin: -20px;
    justify-content: space-between;                                     /*Este es el div de la barra superior*/
    align-items: center;                                                /*Donde pues edito el tamaño, los espaciados, de la barra*/
    font-size: 25px;                                                    /*Junto con su logo y sus etiquetas, ole parce haga el body pa que quede melo*/
    font-family: "Playfair Display", serif;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin: 0 35px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

#logo{
    height: 100px;
}

.title-header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

P {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.icon-span {
    background-color: black; /* testeando icon span */
    background-image: url(/assets/icons/img-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.icon-span-2 {
    background-image: url(/assets/icons/img-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}
/* ZONA FOOTER, NO TOCAR SIN AUTORIZACION DE PÉREZ*/
footer {
    background-color: rgb(34, 29, 29);
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

.footer-section-links ul {
    list-style: none;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.footer-section-links ul li{
    margin: 0 45px;
}

.footer-section-links ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-bottom: 5px;
}

.footer-section-links ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.footer-section-links ul li a:hover::after{
    width: 100%;
}


.footer-rights {
    padding: 25px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}