* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

P {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    width: 100%;
    font-size: 100%;
    font-family: 'Mulish', 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    scroll-behavior: smooth;
    text-align: center;
}
/*ZONA HEADER */

header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
}

.header-container {
    background-image: url('../assets/images-diana/IMG0.jpg');
    display: table;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.block-header {
    color: white;
    font-size: 33.6px;
    padding: 7em 0;
}

@media(max-width: 451px) {
    .block-header {
        padding: 5.5em 0 7em 0;
    }
}

.btn-header-container {
    position: relative;
    margin: 1.25rem;
    top: -208px;
    
}


.btn-header{
    color: white;
    font-size: 16px;
    position: relative;
    border: .1875rem solid #fff;
    border-radius: 1.25rem;
    padding: 8px 96px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    transition: 0.5s ease, transform 0.5s ease;
}

.btn-header:hover {
    color: #000000;
    background-color: #fff;
    padding: 8px 106px;
    transition: 0.5s ease, transform 0.5s ease;
}

.bar-top {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    transition: all 0.5s ease;
}

.logo {
    height: 70px;
    padding: 5px;
    margin: 10px;
    background-image: url("../assets/icons/LOGO-NEGRO.png");
}

.bars {
    display: none;
}

.nav-list ul {
    display: flex;
}

.nav-list ul li a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: .625em 1.5625em;
    border-radius: 15px;
    transition: 0.5s;
}

.nav-list ul li a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px;
}

.bar-top.active2 {
    background-color: #ffffff;
    padding: 0 25px;
    z-index: 1000;
}

.bar-top.active2 ul {
    display: flex;
}

.bar-top.active2  ul li a {
    display: block;
    color: #000000;
    font-size: 16px;
    padding: .625em 1.5625em;
    border-radius: 15px;
    transition: 0.5s;
}

.bar-top.active2 .logo {
    height: 70px;
    padding: 5px;
    margin: 10px;
    background-image: url(../assets/icons/LOGO-NEGRO.png);
}
.bar-top.active2 ul li a:hover {
    background-color: #00000073;
    color: #ffffff;
    border-radius: 15px;
}

@media(max-width: 56.25rem) {
    .bars {
        display: block;
        cursor: pointer;
        margin: 0rem 30px;
    }


    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }

    .nav-list {
        height: 0;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: height 0.5s ease;
        overflow: hidden;
        z-index: 1000; 
    }
    
    .nav-list.active {
        height: 480px;
        width: 100%;
    }
    
    .nav-list ul {
        display: block;
        width: fit-content;
        margin: 16px auto 0 auto;
        text-align: center;
        transition: opacity 0.5s ease;  
        opacity: 0;
    }

    .nav-list.active ul {
        opacity: 1;
    }

    .nav-list ul li a {
        margin-bottom: 20px;
    }

    .bar-top.active2 .bars .line {
        width: 30px;
        height: 3px;
        background-color: #000000;
        margin: 6px 0;
    }

    .bar-top.active2 .nav-list {
        height: 0;
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        transition: height 0.5s ease;
        overflow: hidden;
        z-index: 1000; 
    }

    .bar-top.active2    .nav-list.active {
        height: 26.25rem;
        width: 100%;
    }

    .bar-top.active2 .nav-list ul {
        display: block;
        width: fit-content;
        margin: 16px auto 0 auto;
        text-align: center;
        transition: opacity 0.5s ease;  
        opacity: 0;
    }

    .bar-top.active2 .nav-list.active ul {
        opacity: 1;
    }

    .bar-top.active2 .nav-list ul li a {
        margin-bottom: 20px;
    }

    



}

.title-header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    margin: 40px 10px 30px 10px;
}

.icon-span {
    background-image: url(../assets/icons/img-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 40px;
}

.icon-span-2 {
    background-image: url(../assets/icons/img-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}

/*  ------------ BODY --------------*/

*body {
    justify-content: center;
    align-items: center;
}

.about-h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    letter-spacing: 4px;
    margin-top: 128px;
    margin-bottom: 32px;
}

.info-about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 10%;
}

.img-main-about {
    flex: 1;
    width: 100%;
    max-width: 37.5rem;
    min-width: 500px;
    object-fit: cover;
    margin: 40px 40px 0 40px;
}

.text-main-about h3 {
    font-size: 1.5rem;
    margin: 100px 30px 30px 30px;
}

.text-main-about p {
    flex: 2;
    text-align: justify;
    justify-content: center;
    max-width: 700px;
    min-width: 300px;
    width: 70%;
    margin: 0 auto;
}

.text-main-about img {
    max-width: 100px;
    margin: 1.875rem;
}

@media(max-width: 1627px) {
    .text-main-about p {
        flex: 2;
        text-align: justify;
        justify-content: center;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 1241px) {
    .text-main-about p {
        flex: 2;
        text-align: justify;
        justify-content: center;
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 1116px) {
    .img-main-about {
        flex: 1;
        width: 100%;
        max-width: 37.5rem;
        min-width: 400px;
        object-fit: cover;
        margin: 40px 40px 0 40px;
    }

    .text-main-about p {
        flex: 2;
        text-align: justify;
        justify-content: center;
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
    }

    .text-main-about h3 {
        font-size: 1.5rem;
        margin: 30px;
    }
}

@media(max-width: 991px) {
    .img-main-about {
        flex: 1;
        width: 100%;
        max-width: 600px;
        object-fit: cover;
        margin: 40px 40px 0 40px;
    }

    .text-main-about p {
        flex: 2;
        text-align: justify;
        justify-content: center;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .text-main-about h3 {
        font-size: 1.5rem;
        margin: 30px;
    }
}

@media(max-width: 618px) {
    .img-main-about {
        flex: 1;
        width: 100%;
        min-width: 250px;
        object-fit: cover;
        margin: 30px;
    }
}

.about-btn {
    position: relative;
    margin: 50px 60px 60px 60px;
    
}

.about-btn a{
    position: relative;
    color: #000000;
    font-size: 14px;
    border: 1.5px solid #000000;
    border-radius: 1.25rem;
    padding: 8px 30px;
    font-weight: bold;
    transition: 0.5s ease, transform 0.5s ease;
    letter-spacing: 1px;
}

.about-btn a:hover{
    background-color: #000000;
    color: #fff;
}

.main-services-details{
    background: #FAD7E1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.services-details-card img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin: 0 auto 10px;
}

.services-details-card img:hover {
    transform: scale(1.1);
}

.services-cards-container {
    margin: 3%;
}

.main-ubication-container {
    padding: 3%;
    background-color: rgb(34, 29, 29);
    color: white;
}
.contact-data-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    font-size: 120%;
}

.buttons-socials-ubication-container a{
    padding-top: 1%;
    margin: 0 20px;
}

/* -------Carrusel HTML (1)---------------- */

.caruosel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.caruosel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-section {
    min-width: 100%;
}


.btn-left, .btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.btn-left {
    left: 10px; 
}

.btn-right {
    right: 10px;
}
/*  ------------ GOOGLE MAPS ------------ */

.main-gmaps-iframe {
    width: 20rem;
    height: 14rem;
    border:0;
}

/* ZONA FOOTER, NO TOCAR SIN AUTORIZACION DE PÉREZ*/
footer {
    background-color: rgb(34, 29, 29);
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

.footer-section-links ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.875rem 0;
    width: 100%;
}

.footer-section-links ul li{
    margin: 20px 45px;
}

.footer-section-links ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-bottom: 5px;
}

.footer-section-links ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.footer-section-links ul li a:hover::after{
    width: 100%;
}


.footer-rights {
    padding: 25px;
    text-align: center;
    font-size: 14px;
}